<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>LRP</title>
    <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // обработка и отправка AJAX запроса при клике на кнопку upload_filesZ
            var errtext = "";
            var files;
            $('input[type=file]').change(function(){
                files = this.files;
            });

            $('body').on('click', 'a', function () {
                if ($(this).attr('id') == "test") {
                    var type = 'data:application/octet-stream;base64, ';
                    var base = btoa(unescape(encodeURIComponent(errtext)));
                    var res = type + base;
                    document.getElementById('test').href = res;
                }
            });


            $('#button').click(function( event ){
                event.stopPropagation(); // Остановка происходящего
                event.preventDefault();  // Полная остановка происходящего
                // Создадим данные формы и добавим в них данные файлов из files
                if(files==undefined){alert("Файл не выбран!");return 0;}

                var data = new FormData();
                $.each( files, function( key, value ){
                    data.append( key, value );
                });

                // Отправляем запрос
                var form = $("#addDocumentzForm");
                $.ajax({
                    url: form.attr("action"),
                    type: 'POST',
                    data: data,
                    cache: false,
                    //dataType: 'json',
                    dataType: 'text',
                    processData: false, // Не обрабатываем файлы (Don't process the files)
                    contentType: false, // Так jQuery скажет серверу что это строковой запрос
                    success: function( respond, textStatus, jqXHR ){
                        console.log(respond);
                        $('#filedocz').val("");
                        alert("Операция завершена! ");
                        files = undefined;
                        errtext = respond.replace(new RegExp("={",'g'),"\r\n")
                                         .replace(new RegExp("=\\[",'g'),";")
                                         .replace(new RegExp("], ",'g'),"\r\n")
                                         .replace(new RegExp("},",'g'),"}\r\n\r\n")
                                         .replace(new RegExp("}",'g'),"")
                                         .replace(new RegExp("{",'g'),"");
                        $('#statfile').html(
                             respond.replace(new RegExp("={",'g'),"<br>")
                                    .replace(new RegExp("],",'g'),"]<br>")
                                    .replace(new RegExp("},",'g'),"}<br><br>")
                                    .replace(new RegExp("}",'g'),"")
                                    .replace(new RegExp("{",'g'),"") +
                            "<br><a download='err.csv' id='test' href='#'>Скачать</a>"

                        );

                    },
                    error: function( jqXHR, textStatus, errorThrown ){
                        console.log('ОШИБКИ AJAX запроса: ' + textStatus );
                    }
                });

            });

        });
    </script>
</head>
<body>
<div>Выберите файл формата .xls</div>
<br>
<form method="POST"
      th:action="@{/lrp//download_r_p/dokumentinsert}"
      enctype="multipart/form-data"
      id="addDocumentzForm" class="row">
    <input name="filez"
           multiple="multiple"
           id="filedocz"
           type="file"
           accept=".xls">
    <div><a href="#" id='button'>Добавить</a></div>
</form>
<br>
<div id='statfile'>
</div>
<br>
<br>
<br>
<div><a a href="/lrp">Назад</a></div>
</body>
</html>